{% extends 'base.html' %}

{% block title %}Create Transaction - Your Site{% endblock %}

{% block content %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Journal</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">Journal</li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Create Journal</h5>

                            <form method="post" action="{% url 'create-transaction' %}" id="array_form">
                                {% csrf_token %}
                                {{ form.as_p }}

                                <hr>

                                <table id="dynamic-table" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Account</th>
                                        <th>Person</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Existing rows, if any -->
                                    </tbody>
                                </table>

                                <button type="button" class="btn btn-primary" onclick="addRow()">Add Row</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                                <a href="{% url 'transaction-list' %}" class="btn btn-success bx-pull-right">Back to
                                List</a>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>
    <!-- Include jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include Bootstrap Datepicker CSS from CDN -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- Include Bootstrap Datepicker JS from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Initialize the datepicker -->
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
            });

            $('#array_form').submit(function () {
                // Calculate totals
                var totalDebit = 0;
                var totalCredit = 0;

                // Loop through each row in the table
                $('#dynamic-table tbody tr').each(function () {
                    var debitValue = parseFloat($(this).find('input[name="debit[]"]').val()) || 0;
                    var creditValue = parseFloat($(this).find('input[name="credit[]"]').val()) || 0;

                    // Update totals
                    totalDebit += debitValue;
                    totalCredit += creditValue;
                });

                // Compare totals and display message if they are not equal
                if (totalDebit !== totalCredit) {
                    alert("Debit and Credit totals must be equal.");
                    return false;  // Prevent form submission
                }

                return true;  // Allow form submission
            });


            addRow();
        });

        function addRow() {
            var table = document.getElementById("dynamic-table").getElementsByTagName('tbody')[0];
            var newRow = table.insertRow(table.rows.length);

            // Add cells
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            var cell4 = newRow.insertCell(3);
            var cell5 = newRow.insertCell(4);
            var cell6 = newRow.insertCell(5);

            // Create select elements for dropdowns
            var select1 = document.createElement("select");
            var select2 = document.createElement("select");
            var input3 = document.createElement("input");
            var input4 = document.createElement("input");
            var input5 = document.createElement("input");

            // Set attributes for select elements
            select1.className = "form-control";
            select2.className = "form-control";
            input3.className = "form-control";
            input4.className = "form-control";
            input5.className = "form-control";

            // Set additional attributes for required fields
            select1.required = true;
            input3.required = true;
            input4.required = true;
            input5.required = false;
            // Set name attributes for form submission
            select1.name = "account[]";
            select2.name = "customer[]";
            input3.name = "debit[]";
            input4.name = "credit[]";
            input5.name = "description[]";


            var accountOptions = JSON.parse('{{ context.accounts|safe }}');
            var customerOptions = JSON.parse('{{ context.customers|safe }}');
            var suppliersOptions = JSON.parse('{{ context.suppliers|safe }}');


            var option = document.createElement("option");

            option.value = '';
            option.text = "Select an account.";
            select1.appendChild(option);

            for (var i = 0; i < accountOptions.length; i++) {
                option = document.createElement("option");
                option.value = accountOptions[i].id;
                option.text = accountOptions[i].name;
                select1.appendChild(option);
            }

            // Add the oninput event to the debit field
            input3.oninput = function () {
                input4.value = 0; // Set credit to 0 when debit is entered
            };

            input4.oninput = function () {
                input3.value = 0; // Set debit to 0 when credit is entered
            };

            // Append elements to cells
            cell1.appendChild(select1);
            cell2.appendChild(select2);
            cell3.appendChild(input3);
            cell4.appendChild(input4);
            cell5.appendChild(input5);

            var option = document.createElement("option");
            option.value = '';
            option.text = "Select a person";
            select2.appendChild(option);

            select1.addEventListener('change', function () {
                // Clear existing options in select2
                select2.innerHTML = "";
                var option = document.createElement("option");
                option.value = '';
                option.text = "No option available";
                select2.appendChild(option);
                select2.required = false;


                var selectedValue = this.value;
                var firstThreeCharacters = selectedValue.substring(0, 3);


                if (parseInt(firstThreeCharacters) === 212) {

                    select2.innerHTML = "";
                    var option = document.createElement("option");
                    option.value = '';
                    option.text = "Select a customer";
                    select2.appendChild(option);

                    for (var j = 0; j < customerOptions.length; j++) {

                        option = document.createElement("option");
                        option.value = customerOptions[j].id;
                        option.text = customerOptions[j].name;
                        select2.appendChild(option);
                    }
                    select2.required = true;
                }

                if (parseInt(firstThreeCharacters) === 112) {

                    select2.innerHTML = "";
                    var option = document.createElement("option");
                    option.value = '';
                    option.text = "Select a supplier";
                    select2.appendChild(option);

                    for (var k = 0; k < suppliersOptions.length; k++) {
                        option = document.createElement("option");
                        option.value = suppliersOptions[k].id;
                        option.text = suppliersOptions[k].name;
                        select2.appendChild(option);
                    }
                    select2.required = true;
                }
            });


            // Add a delete button
            var deleteButton = document.createElement("button");
            deleteButton.innerHTML = "Delete";
            deleteButton.type = "button";
            deleteButton.className = "btn btn-danger";
            deleteButton.onclick = function () {
                var row = this.closest('tr'); // Get the parent row
                row.parentNode.removeChild(row); // Remove the row
            };
            cell6.appendChild(deleteButton);
        }
    </script>

{% endblock %}
