{% extends 'base.html' %}

{% block title %}Edit Transaction - Your Site{% endblock %}

{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Transactions</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">Transactions</li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Edit Transaction</h5>

                            <form method="post"
                                  id="array_form">
                                {% csrf_token %}
                                {{ form.as_p }}

                                <hr>

                                <table id="dynamic-table" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Account</th>
                                        <th>Customer</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in context.transactions %}
                                        <tr>
                                            <td>
                                                <select name="account[]" class="form-control">
                                                    {% for account in context.accounts_selects %}
                                                        <option value="{{ account.accountID }}"
                                                                {% if account.accountID == item.account.id %}selected{% endif %}>{{ account.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                {% if item.customer.id in context.customers_selects %}
                                                    <!-- Render select for customers -->
                                                    <select name="customer[]" class="form-control">
                                                        {% for customer in context.customers_selects %}
                                                            <option value="{{ customer.personsID }}"
                                                                    {% if customer.personsID == item.customer.id %}selected{% endif %}>
                                                                {{ customer.name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                {% elif item.account.id in context.suppliers_selects %}
                                                    <!-- Render select for suppliers -->
                                                    <select name="customer[]" class="form-control">
                                                        {% for customer in context.suppliers_selects %}
                                                            <option value="{{ customer.personsID }}"
                                                                    {% if customer.personsID == item.customer.id %}selected{% endif %}>
                                                                {{ customer.name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                {% else %}
                                                    <!-- Render a simple select option -->
                                                    <select name="customer[]" class="form-control">
                                                        <option value="">No option available</option>
                                                    </select>
                                                {% endif %}

                                            </td>
                                            <td><input type="text" name="debit[]" class="form-control"
                                                       value="{{ item.debit }}"></td>
                                            <td><input type="text" name="credit[]" class="form-control"
                                                       value="{{ item.credit }}"></td>
                                            <td><input type="text" name="description[]" class="form-control"
                                                       value="{{ item.description }}"></td>
                                            <td>
                                                <button type="button" class="btn btn-danger" onclick="removeRow(this)">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <button type="button" class="btn btn-primary" onclick="addRow()">Add Row</button>
                                <button type="submit" class="btn btn-success">Update</button>
                                <a href="{% url 'transaction-list' %}" class="btn btn-success bx-pull-right">Back to List</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Include jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include Bootstrap Datepicker CSS from CDN -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- Include Bootstrap Datepicker JS from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Initialize the datepicker -->
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
            });

            $('#array_form').submit(function () {
                // Calculate totals
                var totalDebit = 0;
                var totalCredit = 0;

                // Loop through each row in the table
                $('#dynamic-table tbody tr').each(function () {
                    var debitValue = parseFloat($(this).find('input[name="debit[]"]').val()) || 0;
                    var creditValue = parseFloat($(this).find('input[name="credit[]"]').val()) || 0;

                    // Update totals
                    totalDebit += debitValue;
                    totalCredit += creditValue;
                });

                // Compare totals and display message if they are not equal
                if (totalDebit !== totalCredit) {
                    alert("Debit and Credit totals must be equal.");
                    return false;  // Prevent form submission
                }

                return true;  // Allow form submission
            });

            $('select[name="account[]"]').on('change', function () {
                console.log($(this).val())
                loadCustomerDropdown($(this));
            });


            addRow();
        });

        function removeRow(button) {

            var result = confirm("Are you sure you want to delete?");

            if (result) {
                var row = button.closest('tr');
                row.parentNode.removeChild(row);
            }
        }

        function loadCustomerDropdown($this) {
            // Load customer dropdown options based on the selected account
            var selectedValue = $this.val();
            var firstThreeCharacters = selectedValue.substring(0, 3);

            // Find the nearest customer[] select element in the same row
            var select2 = $this.closest('tr').find('select[name="customer[]"]');

            console.log(firstThreeCharacters)

            // Clear existing options
            select2.empty();

            // Add a default option
            select2.append($('<option>', {
                value: '',
                text: 'No option available'
            }));


            // Determine customer options based on the selected account
            if (parseInt(firstThreeCharacters) === 212) {
                var customerOptions = JSON.parse('{{ context.customers|safe }}');

                select2.empty();
                select2.append($('<option>', {
                    value: '',
                    text: 'Select a customer'
                }));

                for (var j = 0; j < customerOptions.length; j++) {
                    select2.append($('<option>', {
                        value: customerOptions[j].id,
                        text: customerOptions[j].name
                    }));
                }

                select2.prop('required', true);

            } else if (parseInt(firstThreeCharacters) === 112) {
                var suppliersOptions = JSON.parse('{{ context.suppliers|safe }}');

                select2.empty();
                select2.append($('<option>', {
                    value: '',
                    text: 'Select a supplier'
                }));

                for (var j = 0; j < suppliersOptions.length; j++) {
                    select2.append($('<option>', {
                        value: suppliersOptions[j].id,
                        text: suppliersOptions[j].name
                    }));
                }

                select2.prop('required', true);
            }

        }


        function addRow() {
            var table = document.getElementById("dynamic-table").getElementsByTagName('tbody')[0];
            var newRow = table.insertRow(table.rows.length);

            // Add cells
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            var cell4 = newRow.insertCell(3);
            var cell5 = newRow.insertCell(4);
            var cell6 = newRow.insertCell(5);

            // Create select elements for dropdowns
            var select1 = document.createElement("select");
            var select2 = document.createElement("select");
            var input3 = document.createElement("input");
            var input4 = document.createElement("input");
            var input5 = document.createElement("input");

            // Set attributes for select elements
            select1.className = "form-control";
            select2.className = "form-control";
            input3.className = "form-control";
            input4.className = "form-control";
            input5.className = "form-control";

            // Set additional attributes for required fields
            select1.required = true;
            input3.required = true;
            input4.required = true;
            input5.required = false;
            // Set name attributes for form submission
            select1.name = "account[]";
            select2.name = "customer[]";
            input3.name = "debit[]";
            input4.name = "credit[]";
            input5.name = "description[]";


            var accountOptions = JSON.parse('{{ context.accounts|safe }}');
            var customerOptions = JSON.parse('{{ context.customers|safe }}');
            var suppliersOptions = JSON.parse('{{ context.suppliers|safe }}');


            var option = document.createElement("option");

            option.value = '';
            option.text = "Select an account.";
            select1.appendChild(option);

            for (var i = 0; i < accountOptions.length; i++) {
                option = document.createElement("option");
                option.value = accountOptions[i].id;
                option.text = accountOptions[i].name;
                select1.appendChild(option);
            }

            // Add the oninput event to the debit field
            input3.oninput = function () {
                input4.value = 0; // Set credit to 0 when debit is entered
            };

            input4.oninput = function () {
                input3.value = 0; // Set debit to 0 when credit is entered
            };

            // Append elements to cells
            cell1.appendChild(select1);
            cell2.appendChild(select2);
            cell3.appendChild(input3);
            cell4.appendChild(input4);
            cell5.appendChild(input5);

            var option = document.createElement("option");
            option.value = '';
            option.text = "Select a person";
            select2.appendChild(option);

            select1.addEventListener('change', function () {
                // Clear existing options in select2
                select2.innerHTML = "";
                var option = document.createElement("option");
                option.value = '';
                option.text = "No option available";
                select2.appendChild(option);
                select2.required = false;


                var selectedValue = this.value;
                var firstThreeCharacters = selectedValue.substring(0, 3);


                if (parseInt(firstThreeCharacters) === 212) {

                    select2.innerHTML = "";
                    var option = document.createElement("option");
                    option.value = '';
                    option.text = "Select a customer";
                    select2.appendChild(option);

                    for (var j = 0; j < customerOptions.length; j++) {

                        option = document.createElement("option");
                        option.value = customerOptions[j].id;
                        option.text = customerOptions[j].name;
                        select2.appendChild(option);
                    }
                    select2.required = true;
                }

                if (parseInt(firstThreeCharacters) === 112) {

                    select2.innerHTML = "";
                    var option = document.createElement("option");
                    option.value = '';
                    option.text = "Select a supplier";
                    select2.appendChild(option);

                    for (var k = 0; k < suppliersOptions.length; k++) {
                        option = document.createElement("option");
                        option.value = suppliersOptions[k].id;
                        option.text = suppliersOptions[k].name;
                        select2.appendChild(option);
                    }
                    select2.required = true;
                }
            });


            // Add a delete button
            var deleteButton = document.createElement("button");
            deleteButton.innerHTML = "Delete";
            deleteButton.type = "button";
            deleteButton.className = "btn btn-danger";
            deleteButton.onclick = function () {
                var row = this.closest('tr'); // Get the parent row
                row.parentNode.removeChild(row); // Remove the row
            };
            cell6.appendChild(deleteButton);
        }
    </script>
{% endblock %}
